<h1><%= @place.name %></h1>

<h3>Posts</h3>

<ul>
  <% for post in @place.posts %>
    <p> <h4> <li><%= "Title: #{post.title}"%> </h4> </p>
    <p> <%= "Date: #{post.posted_on}"%> </p>
    <p> <%= "Description: #{post.description}"%> </p>
  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<p><%= button_to "Delete this place", @place, method: :delete %></p>
